extends layout

block content
  h1= ""
   p Welcome to #{title}
  - var mypics = ["classroom01.jpg","classroom02.jpg","classroom03.jpg","classroom04.jpg"]
  - for(let i=0; i<3;i++){
   -let variable = Math.floor(Math.random()*4)
    img(src=`images/${mypics[variable]}`,height="300px",width="300px")
  -}